#container {
	width: 50%;
	margin: 20px auto;
	.grid {
		background-color: #fff;
		width: 120px;
		height: 120px;
		border: 1px solid blue;
		display: inline-block;
		margin: 10px;
		&.blue {
			background-color: blue;
		}
	}
}
